@media screen and (max-width: 985px) {
    
    .single_items { 
        display: block;
    }

    .single_item {
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

@media scren and (max-width: 940px) {
    .popup__content {
        padding: 50px 0 110px 0;
    }
}

@media screen and (max-width: 931px) {
    .popup__body  {
        width: calc(100% - 30px);
    }
}

@media screen and (max-width: 769px) {
    .intro__header {
        padding: 0;
        display: block;
        position: relative;
    }

    .intro__menu {
        display: flex;
        justify-content: space-between;
        width: 76.82%;
        margin: 0 auto;
        padding: 30px 0 0;
    }

    .intro__menu a {
        padding-right: 0;
    }

    .intro__menu a:last-child {
        position: absolute;
        top: 44px;
        right: 15px;
        margin-left: 0;
    }

    .rect-4 {
        top: -50px;
    }

    .rect-3 {
        top: -50px;
    }

    .title {
        font-weight: 700;
        font-size: 6.4em;
        line-height: 68px;
        padding-top: 198px;
    }

    .new {
        flex-direction: column-reverse;
        padding: 73px 15px 0;
    }

    .main__text {
        width: 100%;
        padding: 0 0 60px;
        text-align: center;
    }

    .main__text div {
        display: inline-block;
        width: 280px;
    }

    .lady {
        margin-right: 31px;
    }

    .new__pics img {
        object-fit: cover;
    }

    .new__pics {
        justify-content: space-around;
    }

    .barbell {
        padding: 0;
    }

    .privilege {
        margin: 90px auto 0;
        max-width: 1320px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0 80px;
    }

    .privilege a {
        display: block;
        text-align: center;
    }

    .privilege__item {
        display: block;        
    }

    .privilege a:nth-child(1), .privilege a:nth-child(3) {
        margin-right: 100px;        
    }

    .gallery {
        position: relative;
        padding: 0 15px 40px;
        text-align: center;
    }

    .slider-1 {
        padding: 0;
    }
    
    .slider-1__items .slick-track {
        gap: 10px;
    }
    
    .slick-arrow {
        width: 30px;
        height: 30px;        
    }

    .subscription {
        padding: 0 15px;
    }

    .slider-2 .slick-arrow.slick-prev {
        left: -58px;
    }

    .slider-2 .slick-arrow.slick-next {
        right: -58px;
    }

    .table_title {
        font-size: 2.4em;
        line-height: 30px;
    }

    .quantity, .cell-tren {
        font-size: 1.4em;
        line-height: 22px;
    }

    .cell-title, .cell-text {
        font-size: 1.4em;
        line-height: 22px;
    }

    .single_item {
        width: 226px;
    }

    .single_item:nth-child(2) h6 {
        padding: 32px 0 43px;
    }

    .single_item:nth-child(3) h6 {
        padding: 32px 0 23px;
    }
    .table_title {
        margin: 60px 0 40px;
        padding: 0;
    }
    .training {
       max-width: 780px;
    }
    .tb-1-scroll, .tb-2-scroll {
        overflow-x: scroll;
        height: auto;
    }

    .tb-1-scroll::-webkit-scrollbar, .tb-2-scroll::-webkit-scrollbar {
        width: 70%;
        height: 10px;
        opacity: 0;
    }

    .tb-1-scroll::-webkit-scrollbar-track, .tb-2-scroll::-webkit-scrollbar-track {
        border-top: 4px solid #ffffff;
        border-bottom: 4px solid #ffffff;
        background-color: #000000;
        border-radius: 1px;
    }

    .tb-1-scroll::-webkit-scrollbar-thumb, .tb-2-scroll::-webkit-scrollbar-thumb {
        background-color: #F7931E;
        border-radius: 1px;
    }

    .f_o_solid {
        position: absolute;
        top: -1px;
        left: 0px;
        /* opacity: 0; */
    }

    .slider-1__items, .slider-2__items {
        margin-bottom: 30px;
    }
    .main_group {
        display: none;
    }

    .info__coaches {
        display: block;
        padding-top: 90px;
        text-align: center;
    }

    .coaches__items {        
        overflow-x: auto;
        overflow-y: hidden;
        text-align: left;
    }

    .coaches__items .slick-track {
        max-width: 1086px;        
    }

    .coaches__items .slick-list {
        overflow-x: auto;
        overflow-y: hidden;
    }

    .coaches__items .slick-arrow {
        display: none !important;
    }

    .coach-item {
        margin-bottom: 30px;
    }

    .coach_post-1, .coach_post {
        font-size: 12px;
        line-height: 1.8;
    }

    .coaches__title {
        margin-left: 0;
        padding-bottom: 60px;
    }

    .questions {
        background-position: 53% 0%;        
    } 

    .questions__item {        
        right: 15px;
    }

    .contacts {
        background-position: 27%;
    }
    .contacts__item {        
        top: 59px;
        left: 20px;
        padding: 50px 0 50px 40px;
        background-color: #0C1417;
        width: 396px;
        height: 449px;
    } 
    .footer {
        position: relative;
        height: auto;
        padding: 15px;
        align-items: start;
        justify-content: space-between;        
    }

    .footer p {
        font-size: 12px;
    }

    .footer__rights {
        position: absolute;
        top: 100px;
    }

    .footer_add {
        display: block;
        width: auto;
        padding-top: 40px;
    }

    .footer_add_1 {
        display: flex;
        flex-direction: column;
        text-align: right;
        padding-top: 40px;
        width: auto;
    }
    
    .foot-5 {
        order: 2;
    }

    .footer__menu { 
        display: none;       
        flex-direction: column;
        width: auto;
        padding: 0;
    }
    .footer__menu > div:nth-child(4) * {
        position: absolute;
        display: flex; 
        bottom: 0;
        right: 15px;
        padding: 0;
    } 
    .footer__menu > div:nth-child(4) p {
        padding-bottom: 47px;
    }
    .footer__menu > div:nth-child(4) img {
        padding-bottom: 10px; 
        display: block;
        width: 30px;
        height: 30px;       
    }
    
    #vk {
        padding-bottom: 10px;  
        left: -55px;                  
    }
    #insta {        
        width: 30px;
        height: 30px;
        padding-bottom: 10px;  
        left: -15px;               
    }

    .footer__menu div:first-of-type {
        order: 1;
    } 
    .footer__menu > div:nth-child(3) {
        order: 2;
    }
    .footer__menu > div:nth-child(2) {
        order: 3;
    }
    .footer__menu div:first-of-type a:nth-child(3){
        display: none;
    } 
    
    .footer__menu p {
        line-height: 12px;
    }

    #adr {
        padding-top: 20px;
        text-align: right;
        margin-right: -30px;        
    }
}

@media screen and (max-width: 740px) {

    .privilege {
        flex-direction: column;
    }

    .privilege a:nth-child(1), .privilege a:nth-child(3) {
        margin-right: 0;
    }
}

@media screen and (max-width: 706px) {
    .advice {
        position: relative;
        max-width: 290px;
        margin: 0 auto 30%;
    }
}

@media screen and (max-width: 651px) {
    .popup__content {
        padding: 50px 30px 113px;
    }

    .popup__text {
        padding-right: 0;
        padding-left: 0;
    }

    .popup__title h2 {
        margin-left: 15px;
    }

    .popup__text img[alt="Popup-loc"], .popup__text img[alt="Popup-clock"] {
        margin-right: 5px;
    }
    
    .popup__text img[alt="Popup-clock"] {
        margin-left: 12px;
    }

    .popup__text p, .subscr {
        font-size: 14px;
    }

    .popup_solid {
        bottom: 8px;
    }

    .popup_transp {
        position: absolute;
        bottom: 60px;
        left: 0;
        z-index: 1;
    }
}

@media screen and (max-width: 426px) {
    .intro {
        background-position: 18% 50%;
    }

    .logo img {
        z-index: 20;
    }

    .rect-2 {
        bottom: 115px;
    }

    .rect-3 {
        top: -40px;
        right: 108px;
    }

    .rect-4 {
        top: -50px;
        right: 98px;
    }

    .burger-menu {
        position: absolute;
        width: 40px;
        height: 26px;
        top: 40px;
        right: 20px;
    }

    .burger-menu span, .burger-menu:after, .burger-menu:before {
        position: absolute;
        display: block;
        height: 3px;
        width: 100%;
        margin: 0 auto;
        background-color: #fff;
    }

    .burger-menu span {
        top: 43%;
    }

    .burger-menu:after, .burger-menu:before {
        content: '';
    }

    .burger-menu:after {
        bottom: 0;
    }

    .burger-menu:before {
        top: 0;
    }

    .burger-menu.open-menu span {
        opacity: 0;
        transition: 0.5s;
    }

    .burger-menu.open-menu:before {
        transform: rotate(38deg);
        top: 12px;
        transition: 0.4s;
    }

    .burger-menu.open-menu:after {
        transform: rotate(-38deg);
        bottom: 12px;
        transition: 0.4s;
    }

    .intro__menu {
        position: relative;
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        height: auto;
        right: -100%;
        transition: all 0.4s ease;
        justify-content: space-between;
    }

    .intro__menu.open-menu {
        right: 0;
    }

    .intro__menu a {
        padding-bottom: 15px;
    }

    .intro__menu a:nth-child(1), .intro__menu a:nth-child(3), .intro__menu a:nth-child(5) {
        padding-right: 60px;
    }

    .intro__menu a:nth-child(2), .intro__menu a:nth-child(4) {
        padding-left: 60px;
    }

    .intro__menu a:last-child {
        position: relative;
        top: 0;
        right: 0;
    }

    .title {
        padding: 20px 15px 0;
    }

    .subtitle {
        padding: 24px 15px 35px;
    }

    .advice {
        margin: 0 auto 228px;
    }

    .header__arrow {
        left: 46%;
        padding-bottom: 60px;
    }

    .new {
        padding: 40px 15px 0;
        margin-bottom: 40px;
    }

    .new__pics {
        flex-wrap: wrap;
        max-width: 100%;
    }
    .new__pics img {
        width: 100%;
    }

    .lady {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .barbell, .lady {
        flex-grow: 1;
    }

    .privilege {
        justify-content: center;
    }

    .gallery {
        padding: 50px 15px 40px;
        margin: 0;
    }
    .single_lessons {
        text-align: center;
        margin: 0 auto;
    }
    .single__title {
        margin: 60px 0 40px;
        padding: 0;
    }
    .single_items {
        max-width: 984px;
    }
    .single_item {
        margin: 0 auto 30px;
    }
    .questions {
        background-position: 32%;
    }
    .questions__item {
        right: 10%;
        top: 50px;
    } 
    .cont-gen {
        position: static;
        display: flex;
        flex-direction: column;
    }   
    .contacts {
        position: static;
        background-position: 0%;
        height: 234px;
    } 
    .contacts__item {  
        position: static;      
        padding: 50px 0 50px 40px;
        background-color: #0C1417;
        width: 100%;
        height: 449px;
    }
    .footer {
        display: flex;
        flex-direction: column;
        position: relative;
        overflow-y: hidden;
        height: 458px;
    }
    .footer_add {
        display: none;
    }
    .footer_add_1 {
        text-align: left;
    }

    .foot-1 {
        flex-direction: column-reverse;
        width: 190px;
    }
    .footer_burger {
        position: absolute;
        width: 40px;
        height: 26px;
        top: 60px;
        right: 20px;
    }
    .footer_burger span, .footer_burger:after, .footer_burger:before {
        position: absolute;
        display: block;
        height: 3px;
        width: 100%;
        margin: 0 auto;
        background-color: #fff;
    }
    .footer_burger span {
        top: 43%;
    }

    .footer_burger:after, .footer_burger:before {
        content: '';
    }

    .footer_burger::before {        
        top: 0;
    }

    .footer_burger:after {        
        bottom: 0;
    }
       
    .footer_burger.open-menu span {
        opacity: 0;
        transition: 0.5s;
    }

    .footer_burger.open-menu:before {
        transform: rotate(38deg);
        top: 12px;
        transition: 0.4s;
    }

    .footer_burger.open-menu:after {
        transform: rotate(-38deg);
        bottom: 12px;
        transition: 0.4s;
    }
    
    .footer__menu {
        position: relative;
        padding: 30px 0 30px 30px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        max-width: 200px;
        height: auto;
        right: -100%;
        transition: all 0.4s ease;
        justify-content: space-between;
    }

    .footer__menu a {
        padding-bottom: 15px;
    }

    .footer__menu.open-menu {
        right: 23%;        
    }

    .footer__menu.open-menu #nets {
        display: none;
    }
    
    .footer__rights {
        display: flex;
        flex-direction: column;
        order: 3;
    }
    .footer a:first-of-type {        
        order: 1;
    }
    #adr {
        display: flex;
        flex-direction: column;
        order: 2;        
    }
    #nets {
        display: block;
    }
    
}

@media screen and (max-width: 376px) {
    .rect-3, .rect-4 {
        opacity: 0;
    }

    .intro__menu a {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }

    .intro__menu a:nth-child(1), .intro__menu a:nth-child(3), .intro__menu a:nth-child(5) {
        padding-right: 20px;
    }

    .intro__menu {
        padding: 0;
    }
    .questions {
        height: 500px;        
    }
    .questions__item {
        right: 10px;
        top: 30px;
        max-width: 100%;
        padding: 0 7px;
    }
}

@media screen and (max-width: 321px) {
    
    .intro__menu a {
        padding: 0;
        margin: 10px -10px 15px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }

    .intro__menu {
        padding: 0;
    }

    .subtitle {
        font-size: 20px;
    }

    .rect-1 {        
        width: 40%;
        height: 40%;
        bottom: -60px;
    }

    .rect-2 {
        bottom: 35px;
        width: 40%;
        height: 40%;
    }

    .header__social-nets {
        position: absolute;
        right: 0;
    }

    .main__title {
        font-size: 25px;
    }

    .main__desc {
        text-align: start;
        font-style: normal;
    }

    .privilege {
        padding: 0 15px;
    }

    .privilege a:nth-child(1), .privilege a:nth-child(3) {
        margin-right: 0;
    }

    .lady {
        height: auto;
    }
    .gallery {
        margin: 0;
    }

    .slick-arrow {
        display: none !important;
    }

    .slider-2 {
        position: relative;
        /* padding-left: 60px;
        padding-right: 55px; */
        padding: 0;
        z-index: 10;
    }

    .gal_solid {        
        bottom: -68px;
        left: 0;
        width: 30%;
        height: 30%;
    }
    
    .gal_transp {
        position: absolute;
        bottom: -25px;
        left: -50px;
        z-index: 10;
        width: 30%;
        height: 30%;
    }

    .table_title {
        margin: 60px 0 40px;
        padding: 0;
        width: 300px;        
    }

    .training {        
        border-spacing: 10px;        
    }

    .info__coaches {
        display: block;
        padding-top: 80px;
    }
    
    .coaches__items .slick-track {
        gap: 10px;
    }

    .coaches__title {
        text-align: center;
        margin-left: 0;
        padding-bottom: 60px;
    }

    .coach-item {
        margin-left: 0;
    }
    
    .questions {
        height: 500px;        
    }
    .questions__item {
        right: 0;
        top: 30px;
        max-width: 100%;
        padding: 0 7px;
    }
    .contacts__item {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 30px 15px;
        background-color: #0C1417;
        width: 100%;
        height: 449px;
    }  
    .contacts__item p {        
        font-size: 1.4em;        
    }
    .contacts__item .contacts__title {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    .footer {
        height: 600px;
    }

    .footer a {
        margin-left: -30px;
        margin-bottom: 10px;
    }
    
    .footer_add_1 {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 30px;
        /* padding-top: 40px; */
        width: auto;
    }
    
    .footer__menu.open-menu {
        width: auto;
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;        
        flex-direction: column;        
        text-align: center;
        margin-top: 160px;                       
        padding: 10px;
        font-weight: 800;
        line-height: 10px;
        font-size: 16px;
        z-index: 10;        
    } 

    .footer__menu .menu_add a {        
        /* padding: 0; */
        display: block;
        /* padding-right: 10px; */
        padding-bottom: 0;
        height: auto;
        /* margin-bottom: 30px; */
        /* line-height: 0; */
    }

    .footer__menu a {
        width: auto;
        padding-bottom: 5px;
    }

    .footer__menu .menu_add p {
        margin-right: 10px;
    }
    
    .footer__menu a:hover {
        color: #F7931E;
        transition: .1s linear;
    }

    #nets a {
        margin-left: 0;
    }

    .popup__content {
        padding: 10px 10px 30px;
    }

    .popup__title h2 {
        width: 203px;
        font-size: 20px;
        margin-left: 5px;
    }

    .popup__address p {
        width: 240px;
        font-size: 14px;
    }

    .popup__text p, .subscr {
        font-style: normal;
        font-weight: 200;
        line-height: 24px;
        letter-spacing: 0;
    }

    .popup__text img[alt="Popup-clock"] {
        margin-left: .4px;
        margin-top: 10px;
    }

    .popup__text img[alt="Popup-loc"], .popup__text img[alt="Popup-clock"] {
        margin-right: 6px;
    }

    .popup__address {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .popup_solid {
        bottom: 0;
        width: 30%;
    }

    .popup_transp {
        bottom: 0;
        width: 20%;
        left: 5px;
    }
}

